 .nav-link {
   color: white;
 }

 .nav, a.nav-link{
  background-color: rgb(39, 37, 37);
  color: rgb(255, 255, 255);
  opacity: 0.90;
  }

  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
  background-color: rgba(255, 0, 0, 0.788);
  color: white;
  }
  

  .marginRow{
    margin-bottom:0px !important;
    margin-top:0px !important; 
  }
  
  a.btn {
    color: white;
    background-color: rgba(255, 0, 0, 0.788);
  }

  
  html {
    scroll-behavior: smooth
  }
   
  a.btn-xl {
      padding: 1rem 2rem;
  }
  
  h1 {
    color: white;
    outline-color: black;
  }
  
  body {
    background-image: url(../images/LondonSunset.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
  }
 
  footer {
    text-align: center;
    background-color: #ff5e00;
    color: black;
    opacity: 0.75;
  }
  
  footer a {
    color: Black;
  }
  
  footer a:hover {
    color: white;
  }
  
  label.form-control {
    padding:4em
  }

  © 2021 GitHub, Inc.
  Terms
  Privacy
  Security
  Status
  Docs
  Contact GitHub
  Pricing
  API
  Training
  Blog
  About
  